.search {
 margin-top: 5%;
}

.search__input {
    width: 85vw;
    max-width: 520px;
    display: flex;
    margin: 0 auto;
    padding: 8px 10px ;
    align-items: center;
    border-radius: 999px;
    border: 1px solid #dfe1e5;
}

.search__input input{
    flex: 1;
    border: none;
    outline: none;
    font-size: medium;
    padding: 0 10px;
}

.search__input img {
    cursor: pointer;
    width: 24px;
}

.search__camera {
    margin-left: 10px;
}

.search__camera {
margin-right: 5px;    
}


.search__buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search__buttons  button {
    margin: 0 10px;
    font-size: 12px;
    font-weight: 400;
    color: #202124;
    padding: 6px 15px ;
    background: #f8f9fa;
    text-transform: inherit;
    border: solid #f8f9fa 1px;
}

.search__buttons button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.search__lang {
    margin-top: 2rem;
    text-align: center;
}

.search__lang span {
    font-size: 13px; 
    color: #4d5156;
}
.search__lang a {
    font-size: 12px;
    margin: 0 3px;
    text-decoration: none;
}